*.class
**/bin
*.swp
.metadata
AccessCPNFeature/
EMF2DSL/
JenaBuilder/
OWLEditors/
OWLEditorsFeautures/
OWLEditorsUS/
OntologyReastrictedNets.edit/
OntologyReastrictedNets.editor/
OntologyReastrictedNets.tests/
OntologyReastrictedNets/
dk.dtu.imm.se.mbse-pn.nppn.edit/
dk.dtu.imm.se.mbse-pn.nppn.editor/
dk.dtu.imm.se.mbse-pn.nppn.tests/
dk.dtu.imm.se.mbse-pn.nppn/
dk.dtu.imm.se.mbse-pn.tutorial.edit/
dk.dtu.imm.se.mbse-pn.tutorial.editor/
dk.dtu.imm.se.mbse-pn.tutorial.tests/
dk.dtu.imm.se.mbse-pn.tutorial/
ontology/
org.pnml.tools.epnk.extensions.tutorial.types.edit/
org.pnml.tools.epnk.extensions.tutorial.types.editor/
org.pnml.tools.epnk.extensions.tutorial.types.tests/
org.pnml.tools.epnk.extensions.tutorial.types/
org.pnml.tools.epnk.pnml-examples-documents/
Assignement2*
