                def buf = new StringBuffer()
                
                def in = socket.getInputStream()
                def line = new StringBuffer()
                

                
                do{
                // and all that jazz
                }while(line.toString() != '\n')